* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container-lg {
    margin: 0 3rem;
    padding: 0.7rem;
}

.container {
    padding: 2rem 7rem;
}

h1 {
    font-weight: 500;
    margin-bottom: 1.5rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

img {
    min-width: 100%;
    height: auto;
}


.btn {
    text-decoration: none;
    background: #c6b09a;
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
}

.btn:hover {
    background: #fff;
    color: #000;
    transition: .3s;
}

.play-btn {
    background: #fff;
    color: #000;
}

.play-btn:hover {
    background: #c6b09a;
    color: #fff;
    transition: .3s;
}

.active {
    color: #c6b09a;
}

.heading {
    text-align: center;
    font-weight: 500;
    margin-top: 2rem;
}


.sub-heading {
    text-align: center;
    color: #e8a3a5;
    margin-top: 1rem;
}


.nav-content {
    display: flex;
    justify-content: space-between;

}

nav .nav-content .nav-links {
    display: flex;
    align-items: center;
}

nav .nav-content .nav-links ul{
    display: flex;
    list-style: none;
    margin: 0 .5rem;
}


nav .nav-content .nav-links ul li a i {
    width: 1rem;
    height: 1rem;
    background: #c4b296;
    padding: 1rem;
    border-radius: 50%;
    text-align: center;
    margin: 0 0.2rem;
    font-size: 1rem;
}


nav .nav-content .nav-links ul li a i:hover {
    background-color: #fff;
    color: #000;
    transition: .3s;
}



nav .nav-content .nav-links p {
    margin: 0 .5rem;
    font-weight: 500;
}

nav .nav-content .nav-links ul li a {
    color: #fff;
}


header {
    background: #cccccc;
    /* padding: 10%; */
}

header .header-content{
    padding: 16%;
    text-align: center;
    color: #fff;
}

header .header-content i,
section.marketer .markter-content i{
    margin-right: 0.25rem;
}

section.marketer {
    background-image: url("../images/section.png");
    background-size: cover;
    background-position: center;
}

section.marketer .markter-content{
    margin: 13rem 0px;
}

section.marketer .markter-content h2 {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: .8rem;
}

section.marketer .markter-content p {
    font-size: 1.4rem;
    color: #fff;
}



.services .services-content {
    display: flex;
}

.services .services-content .service .service-content {
    display: flex;
    flex-direction: column;
    word-spacing: normal;
    hyphens: auto;
}

.services .services-content .service .service-img {
    margin: 2rem;
}

.services .services-content .service {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .services-content .service .service-content h3{
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.services .services-content .left-services h3 {
    text-align: right;
}

.services .services-content .service .service-content p {
    font-size: 0.9rem;
    color: #e9a3a6;
    text-align: justify;
    word-spacing: 0%;
}

section.testimony {
    background-image: url("../images/section04.png");
    background-size: cover;
    background-position: center;
}

.newsletter h2.heading,
.testimony h2.heading {
    color: #fff;
    font-size: 2rem;
}

.testimony .testmony-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 0;
}

.testimony .testimony-card .testimony-content {
    text-align: center;
    color: #d6d4d4;
    
}

.testimony .testimony-card {
    width: 30%;
    padding: 2rem;
    font-size: 8rem;
}

.testimony .testimony-card .testimony-img {
    padding-bottom: 1.5rem;
}

.testimony .testimony-card .testimony-content p.testimony-desg {
    font-size: 1.2rem;
    font-weight: bold;
}

section.newsletter {
    background-color: #000;
}

section.newsletter .divCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}


section.newsletter .divCenter .form-content {
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-self: center;
}

input {
    width: 100%;
    padding: 1rem 1.5rem;
    
}

input::placeholder {
    color: #000;
}

.newsletter .form-content a.btn{
    border: none;
    outline: none;
}

section.newsletter .footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.newsletter .footer-nav a {
    color: #fff;
    text-decoration: none;
}

section.newsletter ul.footer-nav li:not(:last-child):after {
    content: "|";
    color: #fff;
    padding: 0 1rem;
}


section.menu {
    border-top: 1px solid #000;
}

section.menu ul.menu-lists {
    color: #000;
    list-style: none;
}

section.menu ul.menu-lists  li {
    padding: 0.5rem 0;
}

section.menu ul.menu-lists  li > a {
    color: #000;
    text-decoration: none;
}

section.menu ul.menu-lists  li > a:hover {
    color: #c6b09a;
}



